.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.body {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8f9fa;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.html {
  height: 100vh;
}

.podcastContainer {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.podcastList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 80px 20px;
  padding-top: 70px;
}

.podcastContainerHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
}
.navBar {
  font-size: 1rem;
  font-weight: 700;
  color: #3e72e7;
}

.count {
  font-size: 01rem;
  font-weight: 700;
  background-color: #3e72e7;
  color: white;
  padding: 8px;
  border-radius: 6px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulseChild {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(0.8);
  }
}

.pulse {
  animation: pulse 2s infinite;
  width: 10px;
  height: 10px;
  background-color: #3e72e7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.pulse::after {
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #3e71e781;
  border-radius: 50%;
  animation: pulseChild 1s infinite;
}
